@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-submit {
    --tw-bg-opacity: 1;
    color: white;
    background-color: var(--mdc-filled-text-field-focus-active-indicator-color)
}
.mat-signup {
    color: white!important;
    background-color: black;
}

.mat-button-toggle-label-content {
    padding-left: 10px!important;
    padding-right: 10px!important;

}