    <div class="flex justify-center pt-10">

    <form [formGroup]="signupForm" (ngSubmit)="submitForm()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput  formControlName="username">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                @if (signupForm.controls.username.invalid && (signupForm.controls.username.dirty || signupForm.controls.username.touched)) {
                  <mat-error class="text-xs">Please enter a valid username</mat-error>

                }
              </mat-form-field>
        </div>
        
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                @if (signupForm.controls.email.invalid && (signupForm.controls.email.dirty || signupForm.controls.email.touched)) {
                  <mat-error class="text-xs">Please enter a valid email address</mat-error>

                }
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput  formControlName="password" type="password">
                <mat-icon matSuffix>lock</mat-icon>
                @if (signupForm.controls.password.invalid && (signupForm.controls.password.dirty || signupForm.controls.password.touched)) {
                  <mat-error class="text-xs">Please enter a valid password</mat-error>

                }
              </mat-form-field>
              
        </div>
        <div class="mb-6 text-center">
          <mat-button-toggle-group 
          formControlName="role"
          appearance="legacy"  name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="text-purple-700 text-sm px-1" value="admin">Admin</mat-button-toggle>
            <mat-button-toggle class="text-purple-700 text-sm px-1" value="manager">Manager</mat-button-toggle>
            <mat-button-toggle class="text-purple-700 text-sm px-1" value="user">User</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <button (click)="redirectToLogin()" color="signup" mat-stroked-button >
            Login
        </button>
      <button mat-stroked-button color="submit" class="float-right" type="submit">
        Submit
      </button>
    </form>

  </div>