<div class="mx-5 mt-8">
    <div class="mt-4 flex justify-start text-xs items-center  " *ngIf="(taskItem$ | async) as task">
        <span class="border-b mr-4 text-stone-500 border-stone-300">{{task.date}}</span>
        <span>{{task.type}}</span>
        <div>
          @if (userRoles.includes(Roles.admin)) {
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="openDialog()" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
          
              <button (click)="deleteTask(task.id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          }


      </div>
    </div>
    <div class="w-full justify-start mt-2 flex" *ngIf="(taskItem$ | async) as task">
        

        <div class="w-72">
            <p class="text-lg font-semibold pb-3">{{task.title}}</p>
            <p class="font-semibold text-stone-700">Description</p>
            <p>{{task.description}}</p>
            
            
        </div>
        <div class="w-72 mx-5">
          <mat-expansion-panel
          *ngIf="(taskItem$ | async) as task"
          (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title> Assigned users </mat-panel-title>
              
            </mat-expansion-panel-header>
            @if (task.assigned.length > 0) {
              <ul class="pb-2" >

                @for (user of task.assigned; track user) {
                  <li class="mb-1"><div class="flex justify-between items-center rounded-lg px-2
                    py-1
                    bg-stone-50">
                    <p>{{user}}</p>
                    @if (userRoles.includes(Roles.admin || Roles.manager) ) {
                      <mat-icon 
                      (click)="deleteAssignUser(task.id, user)"
                      class="text-stone-500 hover:cursor-pointer">remove</mat-icon>
                    }
                   
                  </div></li>
                }
              </ul>
              
              

            } @else {
              <p class="mb-1">No assigned users</p>
              
            }
            @if (userRoles.includes(Roles.admin || Roles.manager) ) {
              <div class="border-t border-stone-300 pt-2">
                <div>
                  @if (assignUsersMode) {
                    <mat-icon 
                    class="float-end hover:cursor-pointer text-stone-500"
                    (click)="changeAssignUsersMode()">remove</mat-icon>
    
                    <app-todo-user-assign
                    (optionSelected)="handleOptionSelected($event)"
                    [allUsers]="(allUserUsernames$ | async) ?? []"></app-todo-user-assign>
                    <div class="formSubmit float-right">
                      <button (click)="addAssignUsers(task.id)"  class="formSubmitBtn hover:cursor-pointer hover:bg-black">
                          Add
                        </button>
                    </div>
                  } @else {
                    <mat-icon 
                    class="float-end hover:cursor-pointer text-stone-500"
    
                    (click)="changeAssignUsersMode()">add</mat-icon>
                  }
                </div>
  
  
              </div>
            }

          </mat-expansion-panel>
        </div>

  
</div>

    <div class="w-full text-center mt-5  p-5 "
     *ngIf="!(taskItem$ | async)">
        Task not found
    </div>
</div>