@tailwind base;
@tailwind components;
@tailwind utilities;

.deleteBtn {
    padding: 2px 5px;
    color: white;
            border-radius: 5px;
            background-color: var(--mdc-filled-text-field-focus-active-indicator-color);
            border-color: var(--mdc-filled-text-field-focus-active-indicator-color)
}