<div class="w-full flex justify-center py-12  px-6 rounded-lg mt-10">

        @if (tasks.length < 1) {
                <div class="bg-white py-2 px-4 rounded-lg">
                        You don't have any tasks so far... let's fix it!
                </div>
        } @else {
                <ul class="w-72">
                        
                        @for (task of tasks.reverse(); track task) {
                                <mat-card class="w-72 
                                mb-4
                                transition border-white border
                                hover:border hover:border-purple-400
                                ease-in-out  transi">
                                <a class="hover:cursor-default" [routerLink]="['/app-todo-item-component', task.id]">

                                        <li class="pt-3 px-3 " >
        
                                                <div class=" pl-2">
                                                        <div class="flex hover:cursor-pointer">
                                                                <p class="text-base ">{{task.title}}</p>
                                              

                                                        </div>
                                                        <div class="flex text-stone-500 justify-between text-xs pb-2">
                                                                <div class="flex
                                                                hover:cursor-pointer
                                                                items-center mt-4 ">
                                                                        <mat-icon class="text-md">person_outline </mat-icon>

                                                                        <p>{{task.assigned.length}}</p>
                                                                </div>

                                                                <p class="pb-1">{{task.type}}</p>
                                                        </div>
                                                        
        
                                                </div>

                                        </li>
                                </a>

                                </mat-card>
                                
                                
                        }
                </ul>
        }

</div>