<div>
    <div class="form">
        <h2 class="text-lg mb-5">Add new task</h2>

          <form class="formField" (ngSubmit)="submitTask()" [formGroup]="taskForm">
            <div class="h-16">
              <input formControlName="title" placeholder='Title' type="text" class="focus:outline-none focus:border-orange-400 focus:ring-orange-400 focus:ring-1">
              <div 
              class="text-orange-400 pt-1"
              *ngIf="taskForm.controls.title.invalid && (taskForm.controls.title.dirty || taskForm.controls.title.touched)">
                <div *ngIf="taskForm.controls.title.errors?.['required']">
                  Task title is required.
                </div>
                <div *ngIf="taskForm.controls.title.errors?.['minlength']">
                  At least 3 charactres.
                </div>
              </div>
          
            </div>
          <div class="textArea mb-2 ">
            <textarea  
            class="focus:outline-none focus:border-orange-400 focus:ring-orange-400 focus:ring-1 min-h-16"

            [ngClass]="{
              'mb-7 ': !isInvalid('description'),
            }"
            formControlName="description" placeholder='Description' ></textarea>
            <div
            class="text-orange-400 pt"
            *ngIf="taskForm.controls.description.invalid && (taskForm.controls.description.dirty || taskForm.controls.description.touched)">
              <div *ngIf="taskForm.controls.description.errors?.['required']">
                Task description is required.
              </div>
              <div *ngIf="taskForm.controls.description.errors?.['minlength']">
                At least 7 charactres.
              </div>
            </div>
          </div>
        <p class="pb-2">Urgency:</p>
        <div class="flex justify-between w-1/2 ml-2 text-xs">
          <p>Low</p>
          <p>Medium</p>
          <p>High</p>

        </div>
        <div>
          
          <mat-slider min="1" max="3" step="1">
              <input formControlName="rawType" matSliderThumb value="2">
            </mat-slider>
      </div>
      <div class="formSubmit">
        <button type="submit" [disabled]="!taskForm.valid" class="formSubmitBtn hover:bg-orange-500">
            Add
          </button>
      </div>
          </form>


          


        </div>
        
</div>
