<div class="md:w-5/12 w-4/5 mx-auto py-12 border border-black px-6 rounded-lg mt-10">
    <div class="form">
        <h2 class="text-lg mb-5">Add new task</h2>

          <form (ngSubmit)="submitTask()" [formGroup]="taskForm">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="taskForm.controls.title.invalid && (taskForm.controls.title.dirty || taskForm.controls.title.touched)" class="text-xs">
                Please enter a valid title
              </mat-error>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <mat-error *ngIf="taskForm.controls.description.errors && (taskForm.controls.description.dirty || taskForm.controls.description.touched)" class="text-xs">
                Please enter a valid description
              </mat-error>
            </mat-form-field>

        <p class="pb-2">Urgency:</p>
        <div class="flex justify-between w-28 ml-2 text-xs">
          <p>Low</p>
          <p>Medium</p>
          <p>High</p>

        </div>
        <div>
          
          <mat-slider min="1" max="3" step="1">
              <input formControlName="rawType" matSliderThumb value="2">
            </mat-slider>
            <app-todo-user-assign 
            (optionSelected)="handleOptionSelected($event)"
            [allUsers]="allUserUsernames"></app-todo-user-assign>

      </div>
      <div class="formSubmit">
        <button type="submit" [disabled]="!taskForm.valid" class="formSubmitBtn hover:cursor-pointer hover:bg-black">
            Add
          </button>
      </div>
          </form>
        </div>
        
</div>
