@tailwind base;
@tailwind components;
@tailwind utilities;


.example-form {
    min-width: 150px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .colorBtn {
    background-color: var(--mdc-filled-text-field-focus-active-indicator-color);

  }

